body {
	background-image: url('WebCourseFIGMA.jpg');
	background-repeat: no-repeat;
	background-position: center top;
}

img {
	width: 1020px;
	margin: auto;
	display: block;
}

h1,h2,h3,h4,h5,p,ol,ul,blockquote{
	/*color: red;*/
	margin: auto;
	width: 700px;
}

h1,h2,h3,h4,h5 {
	font-family: 'PT Sans Caption', sans-serif;
	font-weight: bold;
}

p{
	font-family: 'PT Sans', sans-serif;
}

h1{
	font-size: 40px;
	line-height: 46px;
	margin-top: 63px;
}

h1 + p {
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 22px;
	line-height: 32px;
	color: rgba(0, 0, 0, 0.4);
	margin-top: 14px;
}

p {
	font-size: 22px;
	line-height: 34px;
	margin-top: 30px;
}

p + img{
	
	margin-top: 80px;
}

img + h3{
	font-weight: bold;
	font-size: 32px;
	line-height: 36px;
	margin-top: 78.75px;
}

h3 + p{
	font-size: 22px;
	line-height: 34px;
	margin-top: 7px;
}

p + h3 {
	font-weight: bold;
	font-size: 32px;
	line-height: 36px;
	margin-top: 43px;
}

p + h4 {
	font-size: 28px;
	line-height: 34px;
	margin-top: 35px;
}

h4 + p{
	margin-top: 7px;
}

p + blockquote{
	font-family: 'PT Sans';
	font-style: italic;
	font-size: 22px;
	line-height: 34px;
	margin-top: 29px;
	position: relative;
}

blockquote div{
	position: absolute;
	width: 3px;
	height: 100%;
	background:black;
}

h5{
	font-size: 24px;
	line-height: 30px;
	margin-top: 33px;
}

h5 + p{
	font-size: 22px;
	line-height: 34px;
	margin-top: 7px;
}

li + p{
	margin-top: 29px;
}

blockquote + h2{
	font-weight: bold;
	font-size: 32px;
	line-height: 36px;
	margin-top: 43px;
}

h2 + h3{
	font-weight: bold;
	font-size: 28px;
	line-height: 34px;
	margin-top: 40px;
}

nav{
	position: fixed;
}